<form
    action="/sideDish/addSideDish/<%= position %>"
    method="POST"
    novalidate
    class="validated-form w-100">

    <!-- Modal -->
    <div
    class="modal fade"
    id="addSideDish"
    tabindex="-1"
    aria-labelledby="addSideDishLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
                <div class="modal-header">
                    <h2 class="modal-title h2" id="addSideDishLabel">Add a side dish</h2>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <!-- Side dish's name -->
                    <div class="mb-3">
                        <label id="addSideDishName" for="sideDishAddName" class="form-label">
                            Side dish's name:
                        </label>
                        <input
                            type="text"
                            name="name"
                            id="sideDishAddName"
                            placeholder="Side dish's name..."
                            class="form-control"
                            required />
                        <div class="invalid-feedback" id="sideDishNameError">What side dish was it?</div>
                    </div>
                    <!-- Side dish's price -->
                    <div class="mb-3">
                        <label id="addSideDishPrice" for="sideDishAddPrice" class="form-label">
                            Side dish's price:
                        </label>
                        <input
                            type="number"
                            name="price"
                            id="sideDishAddPrice"
                            placeholder="Side dish's price..."
                            class="form-control"
                            step="0.01"
                            onchange="this.value = this.value.replace(/,/g, '.')"
                            required />
                        <div class="invalid-feedback" id="sideDishPriceError">How much did it cost?</div>
                    </div>
                    <!-- People who ate it -->
                    <hr>
                    <h3>People who ate it:</h3>
                    <div class="mb-3 container">
                        <div class="row">
                            <% let p = 0; %>
                            <% check.people.forEach((person) => { %>
                                <div class="col-6 mt-3">
                                    <input
                                        type="checkbox"
                                        id="sideDishAddPerson<%= p %>"
                                        name="people[]"
                                        value="<%= p %>"
                                        >
                                    <label for="sideDishAddPerson<%= p %>"><%= person.name %></label>
                                </div>
                            <% p++; }); %>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                    id="closeAddSideDishBtn"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                    </button>
                    <button id="addSideDishBtn" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>

</form>