<form
    action="/deleteAll?_method=DELETE"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
        class="modal fade"
        id="delAllCheckForm"
        tabindex="-1"
        aria-labelledby="delAllCheckFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h2" id="delAllCheckFormLabel">
                        <%= language == "en" ? "Delete all checks"
                            : language == "pt" ? "Deletar todas as contas"
                            : "Developing" %>
                    </h2>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <% if(checks.length > 0) { %>
                    <div class="modal-body">
                        <p>
                            <%= language == "en" ? "Are you sure you want to delete all checks?"
                                : language == "pt" ? "Você tem certeza de que quer deletar todas as contas?"
                                : "Developing" %>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                            <%= language == "en" ? "Close"
                                : language == "pt" ? "Fechar"
                                : "Developing" %>
                        </button>
                        <button class="btn btn-danger">
                            <%= language == "en" ? "Delete"
                                : language == "pt" ? "Deletar"
                                : "Developing" %>
                        </button>
                    </div>
                <% } else { %>
                    <div class="modal-body">
                        <p>
                            <%= language == "en" ? "There are no checks to delete."
                                : language == "pt" ? "Não há contas para deletar."
                                : "Developing" %>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                            <%= language == "en" ? "Close"
                                : language == "pt" ? "Fechar"
                                : "Developing" %>
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</form>