<!-- First Modal -->
<div class="modal fade" id="help" aria-hidden="true" aria-labelledby="helpLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="helpLabel">How does <span class="fst-italic">Split it!</span> works?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <p>The home's menu has 3 buttons:</p>
                    <ul>
                        <li>
                            <span class="fw-semibold">Theme</span> -
                            <span>The first button changes the app's theme between light and dark mode</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Languages</span> -
                            <span>The second button allows you to change the app's language</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Help</span> -
                            <span>The third button opens the help modal</span>.
                        </li>
                    </ul>
                    <hr>
                    <img
                    class="img-fluid <%= (theme === "dark") ? "shadowDark" : "shadowLight" %>"
                    src="https://res.cloudinary.com/ddmvvgno3/image/upload/v1707327399/SplitIt/TopMenu_mr03ti.png" alt="Image of home's menu"
                    />
                    <hr>
                </div>
                <div>
                    <p>The home's screen has 2 buttons and one card:</p>
                    <ol>
                        <li>
                            <span class="fw-semibold">Add check</span> -
                            <span>The first button opens a window where you can create a new check</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Delete all</span> -
                            <span>The second button deletes all checks</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Check's card</span> -
                            <span>The check's card opens the check's screen, allowing you to full view it and edit it</span>.
                        </li>
                    </ol>
                    <hr>
                    <img
                    class="img-fluid <%= (theme === "dark") ? "shadowDark" : "shadowLight" %>"
                    src="https://res.cloudinary.com/ddmvvgno3/image/upload/v1707327399/SplitIt/HomeScreen_z97si1.png" alt="Image of home's button"
                    />
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#help2" data-bs-toggle="modal">
                    <i class="bi bi-arrow-right-short fw-bold"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Second Modal -->
<div class="modal fade" id="help2" aria-hidden="true" aria-labelledby="helpLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="helpLabel2">How does <span class="fst-italic">Split it!</span> works?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <p>The checks's menu has 3 buttons:</p>
                    <ul>
                        <li>
                            <span class="fw-semibold">Go back</span> -
                            <span>The first button return you to the home screen</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Edit</span> -
                            <span>The second button opens a window where you can edit the check</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Delete</span> -
                            <span>The third button deletes the check</span>.
                        </li>
                    </ul>
                    <hr>
                    <img
                    class="img-fluid <%= (theme === "dark") ? "shadowDark" : "shadowLight" %>"
                    src="https://res.cloudinary.com/ddmvvgno3/image/upload/v1707327399/SplitIt/TopMenuCheck_zq5c8i.png" alt="Image of home's menu"
                    />
                    <hr>
                </div>
                <div>
                    <p>The checklist has some buttons and important informations:</p>
                    <ol>
                        <li>
                            <span class="fw-semibold">Edit person</span> -
                            <span>The first button opens a window where you can edit the person and their orders</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Delete person</span> -
                            <span>The second button deletes the person, if there are more than 1 person</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Add order</span> -
                            <span>The third button opens a window where you can add an order to the person</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Pay</span> -
                            <span>Here you can see how much each person has to pay, with tip included</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Edit side dishes</span> -
                            <span>This button opens a window where you can edit the side dishes</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Price</span> -
                            <span>It shows the total price of the sum of all orders. If it's red and with a "*", it means that the sum and the price you inserted are different</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Add person</span> -
                            <span>With this button you can add a new person to the check</span>.
                        </li>
                        <li>
                            <span class="fw-semibold">Add side dishes</span> -
                            <span>The last button opens a window where you can add side dishes</span>.
                        </li>
                    </ol>
                    <hr>
                    <img
                    class="img-fluid <%= (theme === "dark") ? "shadowDark" : "shadowLight" %>"
                    src="https://res.cloudinary.com/ddmvvgno3/image/upload/v1707333212/SplitIt/CheckList_mlp0mk.png" alt="Image of home's button"
                    />
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#help" data-bs-toggle="modal">
                    <i class="bi bi-arrow-left-short fw-bold"></i>
                </button>
                <button
                    id="closeHelpBtn"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>