<form
    action="/changeLanguage"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
        class="modal fade"
        id="langChange"
        tabindex="-1"
        aria-labelledby="langChangeLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h2" id="langChangeLabel">
                        <%= language == "en" ? "Select a language"
                        : language == "pt" ? "Selecione um idioma"
                        : "Developing" %>
                    </h2>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body d-flex flex-column gap-3">
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input switches"
                            type="checkbox"
                            role="switch"
                            id="en"
                            name="language"
                            value="en"
                            onchange="activeLang('en')" <%= language == 'en' ? 'checked' : '' %>>
                        <label class="form-check-label" for="en">English</label>
                    </div>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input switches"
                            type="checkbox"
                            role="switch"
                            id="pt"
                            name="language"
                            value="pt"
                            onchange="activeLang('pt')" <%= language == 'pt' ? 'checked' : '' %>>
                        <label class="form-check-label" for="pt">Português - Brasil</label>
                    </div>
                    <div class="form-check form-switch">
                        <input
                            class="form-check-input switches"
                            type="checkbox"
                            role="switch"
                            id="it"
                            name="language"
                            value="it"
                            onchange="activeLang('it')" <%= language == 'it' ? 'checked' : '' %>
                            disabled>
                        <label class="form-check-label" for="it">Italiano</label>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        <%= language == "en" ? "Close"
                            : language == "pt" ? "Fechar"
                            : "Developing" %>
                    </button>
                    <button class="btn btn-primary">
                        <%= language == "en" ? "Change"
                            : language == "pt" ? "Trocar"
                            : "Developing" %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>