<% if(check) {%> <% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between mt-2">
  <a href="/" type="btn" class="btn btn-outline-info">
    <i class="bi bi-arrow-left"></i>
  </a>
  <div class="d-flex gap-1">
    <button 
      type="btn" 
      class="btn btn-outline-warning" 
      data-bs-toggle="modal"
      data-bs-target="#editCheckForm">
      <i class="bi bi-pencil"></i>
    </button>

    <form
      action="/editCheck/<%= position %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form w-100">
      <!-- Modal -->
      <div
        class="modal fade"
        id="editCheckForm"
        tabindex="-1"
        aria-labelledby="editCheckFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title h2" id="editCheckFormLabel">Add a check</h2>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <h5>Restaurant</h5>
              <!-- Restaurant's name -->
              <div class="mb-3">
                <label for="restaurant" class="form-label">
                  Restaurant's name:
                </label>
                <input
                  type="text"
                  name="check[restaurant]"
                  id="restaurant"
                  placeholder="Restaurant..."
                  class="form-control"
                  value="<%= check.restaurant %>"
                  required />
                <div class="invalid-feedback">What restaurant was it?</div>
              </div>
              <!-- Tip -->
              <div class="mb-3">
                <label for="tip" class="form-label">
                  Checks's Service Tip:
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    name="check[tip]"
                    id="tip"
                    min="0"
                    step="0.01"
                    placeholder="Tip percentage..."
                    class="form-control"
                    value="<%= check.tip * 100 %>"
                    required />
                  <span class="input-group-text">%</span>
                  <div class="invalid-feedback">How much are you tipping?</div>
                </div>
              </div>
              <!-- Total Price -->
              <div class="mb-3">
                <label for="totalPrice" class="form-label">
                  Checks's Total Price:
                </label>
                <input
                  type="number"
                  name="check[totalPrice]"
                  id="totalPrice"
                  min="0.01"
                  step="0.01"
                  placeholder="Total price..."
                  class="form-control"
                  value="<%= check.price %>"
                  required />
                <div class="invalid-feedback">What's the total price?</div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
                Close
              </button>
              <button class="btn btn-success">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <button 
      type="btn" 
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#delCheckForm">
      <i class="bi bi-trash"></i>
    </button>

    <form
    action="/deleteCheck/<%= position %>?_method=DELETE"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
      class="modal fade"
      id="delCheckForm"
      tabindex="-1"
      aria-labelledby="delCheckFormLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title h2" id="delCheckFormLabel">Delete check</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <p>Are you sure you want do delete this check?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>

<h1 class="text-capitalize text-truncate text-center">
  <%= check.restaurant %>
</h1>
<h3 class="text-center">Final Price: <%= brlCurrency.format(check.price) %></h3>
<h6 class="text-center fw-light fst-italic">Tip: <%= check.tip * 100 %>&#37;</h6>
<h6 class="text-center fw-light"><%= check.date %></h6>
<div class="card shadow-lg border-black check mx-auto px-0">
  <div class="card-body checkList">
    <% let totalCheck = 0; %>
    <% check.people.forEach(person => { let personPay = 0; %>
    <% person.orders.forEach(order => { personPay +=
    order.price*order.quantity; }) %>
    
    <div class="mb-3">
      <p class="text-capitalize fw-semibold d-flex justify-content-between">
        <span class="fs-2 text-capitalize">
          <button
            type="btn"
            class="btn btn-outline-warning"
            data-bs-toggle="modal"
            data-bs-target="#editPersonForm">
            <i class="bi bi-pencil fs-3"></i>
          </button>
          <%= person.name %></span>
        <span class="fs-2 fw-light">|</span>
        <span class="fs-3">
          Pay: <%= brlCurrency.format(personPay * (1 + check.tip)) %>
        </span>
      </p>
      <div class="d-flex justify-content-between">
        <div>
          <button
            type="btn"
            class="btn btn-outline-danger"
            data-bs-toggle="modal"
            data-bs-target="#delPerson">
            <i class="bi bi-trash fs-3"></i>
          </button>
        </div>
        <div class="d-flex flex-column">
          <% person.orders.forEach(order => { %>
            <p class="text-capitalize">
              <%= order.food %> ........ <%= order.quantity %>x <%=
              brlCurrency.format(order.price) %>
            </p>
          <% }) %>
          <button
            type="btn"
            class="btn btn-outline-success ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#addFoodForm">
            <i class="bi bi-plus-circle fs-3"></i>
          </button>
        </div>
      </div>
    </div>
    <hr />
    <% totalCheck += personPay}); totalCheck *= (1 + check.tip); %>
    
  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Price:</h3>
      <h3>
        <%= brlCurrency.format(totalCheck) %>
        <span class="text-danger">
          <%= (totalCheck != check.price) ? "*" : "" %>
        </span>
      </h3>
    </div>
  </div>
  <button type="button" class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#addForm">
    <i class="bi bi-person-plus fs-3"></i>
  </button>

  <form
    action="/addPerson/<%= position %>"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
      class="modal fade"
      id="addForm"
      tabindex="-1"
      aria-labelledby="addFormLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title h2" id="addFormLabel">Add a person</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <h5>People</h5>
            <!-- Person's Name -->
            <div class="mb-3">
              <label for="person" class="form-label">First person:</label>
              <input
                type="text"
                name="person[name]"
                id="person"
                placeholder="Person's name..."
                class="form-control"
                required />
              <div class="invalid-feedback">What is your name?</div>
            </div>

            <hr />

            <h5>Order</h5>
            <!-- Order -->
            <div class="mb-3">
              <label for="dish" class="form-label">First dish:</label>
              <input
                type="text"
                name="person[dish]"
                id="dish"
                placeholder="Dish's name..."
                class="form-control"
                required />
              <div class="invalid-feedback">What did you eat?</div>
            </div>
            <div class="mb-3">
              <label for="qty" class="form-label">Quantity:</label>
              <input
                type="number"
                name="person[qty]"
                id="qty"
                min="1"
                step="1"
                placeholder="Quantity..."
                class="form-control"
                value="1"
                required />
              <div class="invalid-feedback">How many did you order?</div>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price per dish:</label>
              <input
                type="text"
                name="person[price]"
                id="price"
                min="0.01"
                step="0.01"
                placeholder="Price per dish..."
                class="form-control"
                required />
              <div class="invalid-feedback">How much did it cost per dish?</div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<% } else{ layout("layouts/404") } %>
