<% if(check) {%> <% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between mt-2">
  <a href="/" type="btn" class="btn btn-outline-info">
    <i class="bi bi-arrow-left"></i>
  </a>
  <div class="d-flex gap-1">
    <a href="" type="btn" class="btn btn-outline-warning">
      <i class="bi bi-pencil"></i>
    </a>
    <a href="" type="btn" class="btn btn-outline-danger">
      <i class="bi bi-trash"></i>
    </a>
  </div>
</div>
<h1 class="text-capitalize text-truncate text-center">
  <%= check.restaurant %>
</h1>
<h3 class="text-center">Final Price: <%= brlCurrency.format(check.price) %></h3>
<h6 class="text-center fw-light fst-italic">Tip: <%= check.tip * 100 %>&#37;</h6>
<h6 class="text-center fw-light"><%= check.date %></h6>
<div class="card shadow-lg border-black check mx-auto px-0">
  <div class="card-body checkList">
    <% let totalCheck = 0; %>
    <% check.people.forEach(person => { let personPay = 0; %>
    <% person.orders.forEach(order => { personPay +=
    order.price*order.quantity; }) %>
    
    <div class="mb-3">
      <p class="text-capitalize fw-semibold d-flex justify-content-between">
        <span class="fs-2"><%= person.name %></span>
        <span class="fs-2 fw-light">|</span>
        <span class="fs-3">
          Pay: <%= brlCurrency.format(personPay * (1 + check.tip)) %>
        </span>
      </p>
      <div class="text-end">
        <% person.orders.forEach(order => { %>
          <p>
            <%= order.food %> ........ <%= order.quantity %>x <%=
            brlCurrency.format(order.price) %>
          </p>
        <% }) %>
      </div>
    </div>
    <hr />
    <% totalCheck += personPay}); totalCheck *= (1 + check.tip); %>
    
  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Price:</h3>
      <h3>
        <%= brlCurrency.format(totalCheck) %>
        <span class="text-danger">
          <%= (totalCheck != check.price) ? "*" : "" %>
        </span>
      </h3>
    </div>
  </div>
  <button type="button" class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#addForm">
    <i class="bi bi-person-plus fs-3"></i>
  </button>

  <form
    action="/addPerson/<%= position %>"
    method="POST"
    novalidate
    class="validated-form w-100">
    <!-- Modal -->
    <div
      class="modal fade"
      id="addForm"
      tabindex="-1"
      aria-labelledby="addFormLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title h2" id="addFormLabel">Add a check</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <h5>People</h5>
            <!-- Person's Name -->
            <div class="mb-3">
              <label for="person" class="form-label">First person:</label>
              <input
                type="text"
                name="person[name]"
                id="person"
                placeholder="Person's name..."
                class="form-control"
                required />
              <div class="invalid-feedback">What is your name?</div>
            </div>

            <hr />

            <h5>Order</h5>
            <!-- Order -->
            <div class="mb-3">
              <label for="dish" class="form-label">First dish:</label>
              <input
                type="text"
                name="person[dish]"
                id="dish"
                placeholder="Dish's name..."
                class="form-control"
                required />
              <div class="invalid-feedback">What did you eat?</div>
            </div>
            <div class="mb-3">
              <label for="qty" class="form-label">Quantity:</label>
              <input
                type="number"
                name="person[qty]"
                id="qty"
                min="1"
                step="1"
                placeholder="Quantity..."
                class="form-control"
                value="1"
                required />
              <div class="invalid-feedback">How many did you order?</div>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price per dish:</label>
              <input
                type="text"
                name="person[price]"
                id="price"
                min="0.1"
                step="0.1"
                placeholder="Price per dish..."
                class="form-control"
                required />
              <div class="invalid-feedback">How much did it cost per dish?</div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<% } else{ layout("layouts/404") } %>
