<% if(check) {%> <% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between mt-2">
  <a href="/" type="button" class="btn btn-outline-info">
    <i class="bi bi-arrow-left"></i>
  </a>
  <div class="d-flex gap-1">
    <button 
      type="button" 
      class="btn btn-outline-warning" 
      data-bs-toggle="modal"
      data-bs-target="#editCheckForm">
      <i class="bi bi-pencil"></i>
    </button>

    <!-- MODAL EDIT -->
    <%- include("./../partials/editCheckForm") %>

    <button 
      type="button" 
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#delCheckForm">
      <i class="bi bi-trash"></i>
    </button>

    <!-- MODAL DELETE CHECK -->
    <%- include("./../partials/delCheckForm") %>
    
  </div>
</div>

<h1 class="text-capitalize text-truncate text-center pb-1">
  <%= check.restaurant %>
</h1>
<h3 class="text-center"><span id="finalPrice">Final Price</span>: <%= currency.format(check.price) %></h3>
<h6 class="text-center fw-light fst-italic"><span id="tipCheck">Tip</span>: <%= check.tip * 100 %>&#37;</h6>
<h6 class="text-center fw-light"><%= check.date %></h6>
<div class="card shadow-lg <%= (theme === "dark") ? "bg-dark text-light border-white" : "border-black" %> check mx-auto px-0">
  <div class="card-body checkList <%= (theme === "dark") ? "text-light bg-dark" : "" %>">
    <% let totalCheck = 0;
        let personPos = 0;%>
    <% check.people.forEach(person => { let personPay = 0;
      for(let i = 0; i < check.sideDishes.length; i++){
      if (check.sideDishes[i].people.includes(personPos)){
        personPay += check.sideDishes[i].price / check.sideDishes[i].people.length;
      }
    }%>
    <% person.orders.forEach(order => {personPay +=
    order.price*order.quantity; }) %>
    
    <div class="mb-3">
      <p class="text-capitalize fw-semibold d-flex justify-content-between align-items-center">
        <span class="fs-2 text-capitalize text-truncate" style="max-width: 140px;">
          <button
            type="button"
            class="btn btn-outline-warning"
            data-bs-toggle="modal"
            data-bs-target="#editPersonForm<%= personPos %>">
            <i class="bi bi-pencil fs-3"></i>
          </button>
          <%= person.name %>
        </span>
        <span class="fs-2 fw-light mb-2">|</span>
        <span class="fs-3 mb-2">
          <%= (language == "pt" ? "Pagar" : "Pay")  %>: <%= currency.format(personPay * (1 + check.tip)) %>
        </span>
      </p>

      <!-- MODAL EDIT PERSON -->
      <form
        action="/person/editPerson/<%= position %>/<%= personPos %>?_method=PUT"
        method="POST"
        novalidate
        class="validated-form w-100">
        <!-- Modal -->
        <div
          class="modal fade"
          id="editPersonForm<%= personPos %>"
          tabindex="-1"
          aria-labelledby="editPersonFormLabel<%= personPos %>"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
              <div class="modal-header">
                  <h2 class="modal-title h2" id="editPersonFormLabel<%= personPos %>"><%= (language == "pt" ? "Editar" : "Edit") %> <%= person.name %></h2>
                  <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>

              <div class="modal-body">
                  <!-- Person's name -->
                  <div class="mb-3">
                      <label for="personCheck1<%= personPos %>" class="form-label">
                        <%= (language == "pt" ? "Nome da pessoa" : "Person's name") %>:
                      </label>
                      <input
                          type="text"
                          name="person[name]"
                          id="personCheck1<%= personPos %>"
                          placeholder="<%= (language == "pt" ? "Nome da pessoa" : "Person's name") %>..."
                          class="form-control"
                          value="<%= person.name %>"
                          required />
                      <div class="invalid-feedback"><%= (language == "pt" ? "Quem é" : "Who is it") %>?</div>
                  </div>

                  <hr />

                  <div>
                      <h5> <%= (language == "pt" ? "Prato" : "Dish")  %> 1:</h5>
                      <div class="mb-3">
                          <label for="foodCheck1<%= personPos %>" class="form-label"><%= (language == "pt" ? "Comida" : "Food")  %>:</label>
                          <input
                          type="text"
                          name="dish[food]"
                          id="foodCheck1<%= personPos %>"
                          placeholder="<%= (language == "pt" ? "Nome da comida" : "Food's name")  %>..."
                          class="form-control"
                          value="<%= person.orders[0].food %>"
                          required />
                          <div class="invalid-feedback"><%= (language == "pt" ? "O que você comeu" : "What did you eat")  %>?</div>
                      </div>
                      <div class="mb-3">
                          <label for="qtyCheck1<%= personPos %>" class="form-label"><%= (language == "pt" ? "Quantidade" : "Quantity")  %>:</label>
                          <input
                              type="number"
                              name="dish[qty]"
                              id="qtyCheck1<%= personPos %>"
                              min="1"
                              step="1"
                              placeholder="<%= (language == "pt" ? "Quantidade" : "Quantity")  %>..."
                              class="form-control"
                              value="<%= person.orders[0].quantity %>"
                              required />
                          <div class="invalid-feedback"><%= (language == "pt" ? "Quantos você pediu" : "How many did you order")  %>?</div>
                      </div>
                      <div class="mb-3">
                          <label for="priceCheck1<%= personPos %>" class="form-label"><%= (language == "pt" ? "Preço por prato" : "Price per dish")  %>:</label>
                          <input
                              type="number"
                              name="dish[price]"
                              id="priceCheck1<%= personPos %>"
                              step="0.01"
                              placeholder="<%= (language == "pt" ? "Preço por prato" : "Price per dish")  %>..."
                              class="form-control"
                              value="<%= person.orders[0].price %>"
                              onchange="this.value = this.value.replace(/,/g, '.')"
                              required />
                          <div class="invalid-feedback">
                              <%= (language == "pt" ? "Quanto custou por prato" : "How much did it cost per dish")  %>?
                          </div>
                      </div>
                  </div>

                  <% if (person.orders.length > 1) { %>
                      <% for (let i = 1; i < person.orders.length; i++) { %>
                          <hr />
                          <div>
                              <div class="d-flex justify-content-between h5">
                                  <span><%= (language == "pt" ? "Prato" : "Dish")  %> <%= i + 1 %>:</span>
                                  <a href="/order/deleteOrder/<%= position %>/<%= personPos %>/<%= i %>" class="btn btn-outline-danger">
                                      <i class="bi bi-trash fs-3"></i>
                                  </a>
                              </div>
                              <div class="mb-3">
                                  <label for="foodCheck<%= personPos %><%= i %>" class="form-label"><%= (language == "pt" ? "Comida" : "Food")  %>:</label>
                                  <input
                                      type="text"
                                      name="dish[food]"
                                      id="foodCheck<%= personPos %><%= i %>"
                                      placeholder="<%= (language == "pt" ? "Nome da comida" : "Food's name")  %>..."
                                      class="form-control"
                                      value="<%= person.orders[i].food %>"
                                      required />
                                  <div class="invalid-feedback"><%= (language == "pt" ? "O que você comeu" : "What did you eat")  %>?</div>
                              </div>
                              <div class="mb-3">
                                  <label for="qtyCheck<%= personPos %><%= i %>" class="form-label"><%= (language == "pt" ? "Quantidade" : "Quantity")  %>:</label>
                                  <input
                                      type="number"
                                      name="dish[qty]"
                                      id="qtyCheck<%= personPos %><%= i %>"
                                      min="1"
                                      step="1"
                                      placeholder="<%= (language == "pt" ? "Quantidade" : "Quantity")  %>..."
                                      class="form-control"
                                      value="<%= person.orders[i].quantity %>"
                                      required />
                                  <div class="invalid-feedback"><%= (language == "pt" ? "Quantos você pediu" : "How many did you order")  %>?</div>
                              </div>
                              <div class="mb-3">
                                  <label for="priceCheck<%= personPos %><%= i %>" class="form-label"><%= (language == "pt" ? "Preço por prato" : "Price per dish")  %></label>
                                  <input
                                      type="text"
                                      name="dish[price]"
                                      id="priceCheck<%= personPos %><%= i %>"
                                      step="0.01"
                                      placeholder="<%= (language == "pt" ? "Preço por prato" : "Price per dish")  %>..."
                                      class="form-control"
                                      value="<%= person.orders[i].price %>"
                                      required />
                                  <div class="invalid-feedback">
                                    <%= (language == "pt" ? "Quanto custou por prato" : "How much did it cost per dish")  %>?
                                  </div>
                              </div>
                          </div>
                          <% } %>
                  <% } %>
              </div>

              <div class="modal-footer">
                  <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal">
                      <%= (language == "pt" ? "Fechar" : "Close")  %>
                  </button>
                  <button class="btn btn-success"><%= (language == "pt" ? "Editar" : "Edit")  %></button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="d-flex justify-content-between">
        <div>

          <!-- MODAL DELETE PERSON -->
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-toggle="modal"
            data-bs-target="#delPersonForm<%= personPos %>">
            <i class="bi bi-trash fs-3"></i>
          </button>

          <form
            action="/person/deletePerson/<%= position %>/<%= personPos %>?_method=DELETE"
            method="POST"
            novalidate
            class="validated-form w-100">
            <!-- Modal -->
            <div
              class="modal fade"
              id="delPersonForm<%= personPos %>"
              tabindex="-1"
              aria-labelledby="delPersonFormLabel<%= personPos %>"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
                  <% if (check.people.length > 1) { %>
                    <div class="modal-header">
                      <h2 class="modal-title h2" id="delPersonFormLabel<%= personPos %>"><%= (language == "pt" ? "Deletar" : "Delete")  %> <%= person.name %>?</h2>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                      <p>
                        <%= (language == "pt" ? "Você tem certeza de que quer deletar" : "Are you sure you want do delete") %>
                        <%= person.name %>
                        <%= (language == "pt" ? "de sua conta" : "from your check")  %>?
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        <%= (language == "pt" ? "Fechar" : "Close")  %>
                      </button>
                      <button class="btn btn-danger"><%= (language == "pt" ? "Deletar" : "Delete")  %></button>
                    </div>
                  <% } else {%>
                    <div class="modal-header">
                      <h2 class="modal-title h2" id="delPersonFormLabel"><%= (language == "pt" ? "Incapaz de deletar!" : "Can't delete!")  %></h2>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                      <p>
                        <%= (language == "pt" ? "Você não pode deixar sua conta sem uma pessoa." : "You can't leave your check without a person.")  %>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        <%= (language == "pt" ? "Fechar" : "Close")  %>
                      </button>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </form>

          <!-- MODAL ADD ORDER TO PERSON -->
          <button
            type="button"
            class="btn btn-outline-success mt-3"
            data-bs-toggle="modal"
            data-bs-target="#addOrderForm<%= personPos %>">
            <i class="bi bi-plus-circle fs-3"></i>
          </button>

          <form
            action="/order/addOrder/<%= position %>/<%= personPos %>"
            method="POST"
            novalidate
            class="validated-form w-100">
            <!-- Modal -->
            <div
              class="modal fade"
              id="addOrderForm<%= personPos %>"
              tabindex="-1"
              aria-labelledby="addOrderFormLabel<%= personPos %>"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content <%= (theme === "dark") ? "bg-dark text-light" : "" %>">
                    <div class="modal-header">
                      <h2 class="modal-title h2" id="addOrderFormLabel<%= personPos %>"><%= (language == "pt" ? "Adicionar pedido" : "Add order")  %></h2>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                      <div class="mb-3">
                        <label for="food<%= personPos %>" class="form-label"><%= (language == "pt" ? "Comida" : "Food")  %>:</label>
                        <input
                          type="text"
                          name="order[food]"
                          id="food<%= personPos %>"
                          placeholder="<%= (language == "pt" ? "Nome da comida" : "Food's name")  %>..."
                          class="form-control"
                          required />
                        <div class="invalid-feedback">
                          <%= (language == "pt") ? "O que você comeu" : "What did you eat" %>?
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="qty<%= personPos %>" class="form-label"><%= (language == "pt" ? "Quantidade" : "Quantity")  %>:</label>
                        <input
                          type="number"
                          name="order[qty]"
                          id="qty<%= personPos %>"
                          min="1"
                          step="1"
                          placeholder="<%= (language == "pt" ? "Quantidade" : "Quantity")  %>..."
                          class="form-control"
                          value="1"
                          required />
                        <div class="invalid-feedback">
                          <%= (language == "pt" ? "Quantos você pediu" : "How many did you order")  %>?
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="price<%= personPos %>" class="form-label"><%= (language == "pt" ? "Preço por prato" : "Price per dish")  %>:</label>
                        <input
                          type="number"
                          name="order[price]"
                          id="price<%= personPos %>"
                          step="0.01"
                          placeholder="<%= (language == "pt" ? "Preço por prato" : "Price per dish")  %>..."
                          class="form-control"
                          onchange="this.value = this.value.replace(/,/g, '.')"
                          required />
                        <div class="invalid-feedback">
                          <%= (language == "pt" ? "Quanto custou por prato?" : "How much did it cost per dish?")  %>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        <%= (language == "pt" ? "Fechar" : "Close")  %>
                      </button>
                      <button class="btn btn-success"><%= (language == "pt" ? "Adicionar" : "Add")  %></button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div>
          <% person.orders.forEach(order => { %>
            <p class="text-capitalize text-end">
              <%= order.food %> ........ <%= order.quantity %>x <%=
              currency.format(order.price) %>
            </p>
          <% }) %>
          <% for(let i = 0; i < check.sideDishes.length; i++){
            if (check.sideDishes[i].people.includes(personPos)){%>
              <p class="text-capitalize text-end">
              <%= check.sideDishes[i].dish %> ........ 1x <%=
              currency.format(check.sideDishes[i].price) %>
            </p>
          <% }} %>
          
        </div>
      </div>
    </div>

    <hr />

    <% personPos++; %>
    <% totalCheck += personPay});
    totalCheck *= (1 + check.tip); %>
    <% if (check.sideDishes.length > 0) { %>
      <h1>Side Dishes</h1>
      <% check.sideDishes.forEach(sideDish => { %>
        <p class="text-capitalize text-end">
          <%= sideDish.dish %> ........ <%= currency.format(sideDish.price) %>
        </p>
      <% });%>
    <% } %>
  </div>

  <div class="card-footer mb-1 <%= (theme === "dark") ? "text-light bg-dark" : "" %>">
    <div class="d-flex justify-content-between align-items-center">
      <h3 id="checkPrice">Price:</h3>
      <h3 id="checkSum" class="<%= (Math.round((totalCheck + Number.EPSILON) * 100) / 100 != check.price) ? "text-danger" : "text-success"  %>">
        <%= currency.format(totalCheck) %>
        <span class="text-danger">
          <%= (Math.round((totalCheck + Number.EPSILON) * 100) / 100 != check.price) ? "*" : "" %>
        </span>
      </h3>
    </div>
  </div>

  <!-- MODAL ADD PERSON -->
  <button type="button" class="btn btn-success rounded-top-3 rounded-bottom-0"
    data-bs-toggle="modal"
    data-bs-target="#addPersonForm">
    <i class="bi bi-person-plus fs-3"></i>
  </button>

  <%- include("./../partials/addPersonForm")  %>

  <button type="button" class="btn btn-primary rounded-top-0"
    data-bs-toggle="modal"
    data-bs-target="#addSideDish">
    <i class="bi bi-journal-plus fs-3"></i>
  </button>

  <%- include("./../partials/addSideDish")  %>

</div>

<button type="button" id="btnModalSum" class="d-none" data-bs-toggle="modal" data-bs-target="#modalSum">
  Modal Sum
</button>

<!-- Modal Check Sum -->
<%- include("./../partials/modalSum") %>
<% } else{ layout("layouts/404") } %>
