<% if(check) {%> <% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between mt-2">
  <a href="/" type="btn" class="btn btn-outline-info">
    <i class="bi bi-arrow-left"></i>
  </a>
  <div class="d-flex gap-1">
    <a href="" type="btn" class="btn btn-outline-warning">
      <i class="bi bi-pencil"></i>
    </a>
    <a href="" type="btn" class="btn btn-outline-danger">
      <i class="bi bi-trash"></i>
    </a>
  </div>
</div>
<h1 class="text-capitalize text-truncate text-center">
  <%= check.restaurant %>
</h1>
<h3 class="text-center">Final Price: <%= brlCurrency.format(check.price) %></h3>
<h6 class="text-center fw-light fst-italic">Tip: <%= check.tip * 100 %>%</h6>
<h6 class="text-center fw-light"><%= check.date %></h6>
<div class="card shadow-lg border-black check mx-auto px-0">
  <div class="card-body checkList">
    <% let totalCheck = 0; check.people.forEach(person => { let personPay = 0;
    %> <% person.orders.forEach(order => { personPay +=
    order.price*order.quantity; }) %>
    <div class="mb-3">
      <p class="text-capitalize fw-semibold d-flex justify-content-between">
        <span class="fs-2"><%= person.name %></span>
        <span class="fs-2 fw-light">|</span>
        <span class="fs-3">
          Pay: <%= brlCurrency.format(personPay * (1 + check.tip)) %>
        </span>
      </p>
      <div class="text-end">
        <% person.orders.forEach(order => { %>
        <p>
          <%= order.food %> ........ <%= order.quantity %>x <%=
          brlCurrency.format(order.price) %>
        </p>
        <% }) %>
      </div>
    </div>
    <% totalCheck += personPay}); totalCheck *= (1 + check.tip); %>

    <hr />
  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Price:</h3>
      <h3>
        <%= brlCurrency.format(totalCheck) %>
        <span class="text-danger">
          <%= (totalCheck != check.price) ? "*" : "" %>
        </span>
      </h3>
    </div>
  </div>
  <button type="button" class="btn btn-success">
    <i class="bi bi-person-add fs-3"></i>
  </button>
</div>
<% } else{ layout("layouts/404") } %>
