<% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-between align-items-center mt-2 mb-2">
  <h1>Split Check</h1>

<div>
    <button class="btn">
      <% if (theme === "light") { %>
      <i class="bi bi-brightness-high fs-3"></i>
      <% } else { %>
        <i class="bi bi-moon fs-3"></i>
      <% } %>
    </button>
    <button class="btn">
      <i class="bi bi-translate fs-3"></i>
    </button>
</div>
</div>

<div id="checksContainer">
  <div class="d-flex flex-wrap mb-1 gap-1">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-success flex-grow-1"
      data-bs-toggle="modal"
      data-bs-target="#addForm">
      Add Check
    </button>

    <!-- Button Delete all -->
    <form class="flex-grow-1 d-flex" action="/deleteAll" method="post">
      <button type="submit" class="btn btn-danger flex-grow-1" id="deleteAll">
        Delete All
      </button>
    </form>
    <form
      action="/addCheck"
      method="POST"
      novalidate
      class="validated-form w-100">
      <!-- Modal -->
      <div
        class="modal fade"
        id="addForm"
        tabindex="-1"
        aria-labelledby="addFormLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title h2" id="addFormLabel">Add a check</h2>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <h5>Restaurant</h5>
              <!-- Restaurant's name -->
              <div class="mb-3">
                <label for="restaurant" class="form-label">
                  Restaurant's name:
                </label>
                <input
                  type="text"
                  name="check[restaurant]"
                  id="restaurant"
                  placeholder="Restaurant..."
                  class="form-control"
                  required />
                <div class="valid-feedback">That's a nice restaurant!</div>
                <div class="invalid-feedback">What restaurant was it?</div>
              </div>
              <!-- Total Price -->
              <div class="mb-3">
                <label for="totalPrice" class="form-label">
                  Checks's Total Price:
                </label>
                <input
                  type="number"
                  name="check[totalPrice]"
                  id="totalPrice"
                  min="0.1"
                  step="0.1"
                  placeholder="totalPrice..."
                  class="form-control"
                  required />
                <div class="valid-feedback">Good deal!</div>
                <div class="invalid-feedback">What's the total price?</div>
              </div>

              <hr />

              <h5>People</h5>
              <!-- Person's Name -->
              <div class="mb-3">
                <label for="person" class="form-label">First person:</label>
                <input
                  type="text"
                  name="check[person]"
                  id="person"
                  placeholder="Person's name..."
                  class="form-control"
                  required />
                <div class="valid-feedback">Cool name!</div>
                <div class="invalid-feedback">What is your name?</div>
              </div>

              <hr />

              <h5>Order</h5>
              <!-- Order -->
              <div class="mb-3">
                <label for="dish" class="form-label">First dish:</label>
                <input
                  type="text"
                  name="check[dish]"
                  id="dish"
                  placeholder="Dish's name..."
                  class="form-control"
                  required />
                <div class="valid-feedback">Sounds delicious!</div>
                <div class="invalid-feedback">What did you eat?</div>
              </div>
              <div class="mb-3">
                <label for="qty" class="form-label">Quantity:</label>
                <input
                  type="number"
                  name="check[qty]"
                  id="qty"
                  min="1"
                  step="1"
                  placeholder="Quantity..."
                  class="form-control"
                  required />
                <div class="valid-feedback">It seems reasonable!</div>
                <div class="invalid-feedback">How many did you order?</div>
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price per dish:</label>
                <input
                  type="text"
                  name="check[price]"
                  id="price"
                  min="0.1"
                  step="0.1"
                  placeholder="Price per dish..."
                  class="form-control"
                  required />
                <div class="valid-feedback">Valid price!</div>
                <div class="invalid-feedback">
                  How much did it cost per dish?
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
                Close
              </button>
              <button class="btn btn-success">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <hr />

  <div class="mb-5 d-flex flex-column-reverse">
    <% if (checks.length == 0) { %>
    <div class="alert alert-danger" role="alert">
      You don't have any checks yet!
    </div>

    <% } else { let position = 0; checks.forEach(checks => { %>
    <a class="text-decoration-none text-dark" href="/check/<%= position %>">
      <div class="card mb-3">
        <div class="card-body">
         <p class="card-title"> Check: <%= checks.restaurant %> - Price: <div%= checks.price %></p>
        <% checks.people.forEach(people => { %>
          <p class="card-text">People: <%= people.name %></p>
          <ul class="card-text">
            <% people.orders.forEach(orders => { %>
            <li>Order: <%= orders.food %></li>
            <li>Quantity: <%= orders.quantity %></li>
            <li>Price: <%= orders.price * orders.quantity  %></li>
            <% }) %>
          </ul>
       </div>
        <% }) %>
      </div>
    </a>
    <% position++; }) } %>
  </div>
</div>
