<% layout("layouts/boilerplate") %>
<header class="d-flex justify-content-between align-items-center mt-2 mb-2">
  <h1>Split Check</h1>

  <div>
    <button class="btn">
      <% if (theme === "light") { %>
      <i class="bi bi-brightness-high fs-3"></i>
      <% } else { %>
      <i class="bi bi-moon fs-3"></i>
      <% } %>
    </button>
    <button class="btn" data-bs-toggle="modal" data-bs-target="#langChange">
      <i class="bi bi-translate fs-3"></i>
    </button>
    <button class="btn">
      <i class="bi bi-question-circle fs-3"></i>
    </button>
  </div>
</header>

<!-- MODAL CHANGE LANGUAGE -->
<%- include("./../partials/langChange")  %>

<main id="checksContainer">
  <div class="d-flex flex-wrap mb-1 gap-1">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-success flex-grow-1"
      data-bs-toggle="modal"
      data-bs-target="#addCheckForm">
      <%= language == "en" ? "Add check" :
      language == "pt" ? "Adicionar conta" :
      "Developing" %>
    </button>

    <!-- Button Delete all -->
    <button
      type="submit"
      class="btn btn-danger flex-grow-1"
      data-bs-toggle="modal"
      data-bs-target="#delAllCheckForm">
      <%= language == "en" ? "Delete all" :
      language == "pt" ? "Delete todas" :
      "Developing" %>
    </button>

    <!-- MODAL ADD CHECK -->
    <%- include("./../partials/addCheckForm") %>

    <!-- MODAL DELETE ALL -->
    <%- include("./../partials/deleteAll") %>


  </div>

  <hr />

  <!-- Checks' Cards -->
  <div class="mb-5 d-flex flex-column-reverse">
    <% if (checks.length == 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= language == "en" ? "You don't have any checks yet!" :
      language == "pt" ? "Você ainda não possui contas!"
      : "Developing" %>
    </div>

    <% } else { let position = 0; checks.forEach(check => { %>
    <a class="text-decoration-none text-dark" href="/check/<%= position %>">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-title text-capitalize fs-2 fw-semibold">
            <%= check.restaurant %>
          </p>

          <hr />

          <p class="card-text">
            <%= language == "en" ? "Total price: "
                : language == "pt" ? "Preço total: "
                : "Developing" %>
            <%= currency.format(check.price) %>
          </p>
          <p class="card-text">
            <%= language == "en" ? "Tip: "
                : language == "pt" ? "Taxa: "
                : "Developing" %>
            <%= check.tip * 100 %>%
          </p>
          <p class="card-text">
            <%= language == "en" ? "Date: "
                : language == "pt" ? "Data: "
                : "Developing" %>
            <%= check.date %>
          </p>
          <p class="card-text">
            <i class="bi bi-people fs-3"></i>
            <%= check.people.length %>
          </p>
        </div>
      </div>
    </a>
    <% position++; })} %>
  </div>
</main>

<script src="/scripts/switches.js"></script>