<% layout("layouts/boilerplate") %>


<header class="d-flex justify-content-between align-items-center mt-2 mb-2">
  <h1 id="title">Split it!</h1>

  <div class="d-flex gap-1">
    <% if (theme === "light") { %>
      <form action="/theme?theme=dark" method="post">
        <button class="btn">
          <i class="bi bi-brightness-high fs-3"></i>
        </button>
      </form>
    <% } else { %>
      <form action="/theme?theme=light" method="post">
        <button class="btn">
          <i class="bi bi-moon fs-3 text-light"></i>
        </button>
      </form>
    <% } %>
    <button class="btn" data-bs-toggle="modal" data-bs-target="#langChange">
      <i class="bi bi-translate fs-3 <%= (theme === "dark") ? "text-light" : "" %>"></i>
    </button>
    <button class="btn">
      <i class="bi bi-question-circle fs-3 <%= (theme === "dark") ? "text-light" : "" %>"></i>
    </button>
  </div>
</header>

<!-- MODAL CHANGE LANGUAGE -->
<%- include("./../partials/langChange")  %>

<main id="checksContainer">
  <div class="d-flex flex-wrap mb-1 gap-1">
    <!-- Button trigger modal -->
    <button
      id="addCheckFormBtn"
      type="button"
      class="btn btn-success flex-grow-1"
      data-bs-toggle="modal"
      data-bs-target="#addCheckForm">
      Add check
    </button>

    <!-- Button Delete all -->
    <button
      id="delAllCheckFormBtn"
      type="submit"
      class="btn btn-danger flex-grow-1"
      data-bs-toggle="modal"
      data-bs-target="#delAllCheckForm">
      Delete all
    </button>

    <!-- MODAL ADD CHECK -->
    <%- include("./../partials/addCheckForm") %>

    <!-- MODAL DELETE ALL -->
    <%- include("./../partials/deleteAll") %>


  </div>

  <hr />

  <!-- Checks' Cards -->
  <div class="mb-5 d-flex flex-column-reverse">
    <% if (checks.length == 0) { %>
    <div id="alertChecks" class="alert alert-danger" role="alert">
      You don't have any checks yet!
    </div>

    <% } else { let position = 0; checks.forEach(check => { %>
    <a class="text-decoration-none <%= (theme === "dark") ? "text-light" : "text-dark" %> cardsChecks" href="/check/<%= position %>">
      <div class="card mb-3">
        <div class="card-body <%= (theme === "dark") ? "text-light bg-dark" : "text-dark" %>">
          <p class="card-title text-capitalize fs-2 fw-semibold">
            <%= check.restaurant %>
          </p>

          <hr />

          <p class="card-text">
            <span class="fw-semibold totalPriceText">Total price</span>: <span class="totalPriceHome"><%= currency.format(check.price) %></span>
          </p>
          <p class="card-text">
            <span class="fw-semibold tipHome">Tip</span>: <%= check.tip * 100 %>%
          </p>
          <p class="card-text">
            <span class="fw-semibold dateHome">Date</span>: <%= check.date %>
          </p>
          <p class="card-text">
            <i class="bi bi-people fs-3"></i>
            <%= check.people.length %>
          </p>
        </div>
      </div>
    </a>
    <% position++; })} %>
  </div>
</main>

